logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.nyc_output
.grunt
.lock-wscript
build/Release
node_modules
jspm_packages
.npm
.node_repl_history
.DS_Store
server/assets/*
.env
todo.txt
.idea
.vscode
# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS / Editor
.DS_Store
.vscode/
